PROJECT DEVELOPMENT PHASE/SPRINT 2/NODE RED.json
[{"id":"f67508aaf2ed4ffb","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"ac8307c67cc0da21","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ed6e16e838eff78f","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#11221a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#192711","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#192711","edited":true},"page-titlebar-backgroundColor":{"value":"#192711","edited":false},"page-backgroundColor":{"value":"#f4f1f1","edited":true},"page-sidebar-backgroundColor":{"value":"#f0f4f1","edited":true},"group-textColor":{"value":"#146123","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#192711","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f58b99744b1b759b","type":"ui_group","name":"Temperature","tab":"49865690c4d3cf71","order":1,"disp":false,"width":"10","collapse":false,"className":""},{"id":"2489c5c07a3082e7","type":"ui_group","name":"Weather monitoring","tab":"b036744d3531f665","order":1,"disp":false,"width":"20","collapse":false,"className":""},{"id":"15c752f107c41547","type":"ui_group","name":"Default","tab":"e10031d50bd5ca86","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"75956d064cf37e94","type":"ui_group","name":"","tab":"2a45e520b76dbbd1","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"49865690c4d3cf71","type":"ui_tab","name":"HOMEPAGE","icon":"fa-home","disabled":false,"hidden":false},{"id":"b036744d3531f665","type":"ui_tab","name":"MONITOR","icon":"dashboard","disabled":false,"hidden":false},{"id":"0b8ab188f96f1364","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7919897550070b3d","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":3,"width":1,"height":1},{"id":"6d942b95ef890c8e","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":5,"width":1,"height":1},{"id":"66985fcc7b8e50b2","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":7,"width":1,"height":1},{"id":"893ea47ee6f94954","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":8,"width":1,"height":1},{"id":"8acbb93156df57ba","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":9,"width":1,"height":1},{"id":"3ed3f8e13452f9c4","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":10,"width":1,"height":1},{"id":"531e5d545642474d","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":11,"width":1,"height":1},{"id":"d511a3ab22493c69","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":12,"width":1,"height":1},{"id":"b9af9943ddf57493","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":13,"width":1,"height":1},{"id":"d19bb093da5a1db0","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":14,"width":1,"height":1},{"id":"0ae5704c6efdad51","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":15,"width":5,"height":1},{"id":"1176662f6d4d9a65","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":17,"width":3,"height":1},{"id":"96a6346e5e525a02","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":19,"width":4,"height":1},{"id":"03aa8febc1e9630a","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":20,"width":5,"height":1},{"id":"f62045fe79e4db6d","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":22,"width":3,"height":1},{"id":"a4a93f5a172f2188","type":"ui_spacer","z":"ac8307c67cc0da21","name":"spacer","group":"2489c5c07a3082e7","order":24,"width":4,"height":1},{"id":"11b3c650b7e390af","type":"ui_template","z":"f67508aaf2ed4ffb","group":"f58b99744b1b759b","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137521.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\nh2 {text-align: left;}\n</style>\n\n</head>\n<body >\n<h1>SMARTFARMER - IOT ENABLED SMART FARMING APPLICATION </h1><br>\n<h2>\nTeam ID : PNT2022TMID38131<br>\nTeam Size     : 4<br>\nTeam leader   : MANOJKUMAR S<br>\nTeam member   : SURYA G<br>\nTeam member   : VIGNESH E<br>\nTeam member   : SURENDAR K<br>\n\n</h2>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":320,"y":120,"wires":[[]]},{"id":"8dbb92649f23ef3d","type":"ui_template","z":"ac8307c67cc0da21","group":"2489c5c07a3082e7","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137490.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\n\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":360,"y":80,"wires":[[]]},{"id":"265b75cfd5e93fe1","type":"ibmiot in","z":"ac8307c67cc0da21","authentication":"apiKey","apiKey":"0b8ab188f96f1364","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"MSVS-SMART-IOT","applicationId":"","deviceType":"SMART-IOT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":140,"wires":[["dbf2599a7a8d030f","424db97b8aa07a10","df9c6c6e451ddc41","22156a8f3d96e156"]]},{"id":"dbf2599a7a8d030f","type":"debug","z":"ac8307c67cc0da21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"424db97b8aa07a10","type":"function","z":"ac8307c67cc0da21","name":"Temperature Node","func":"msg.payload=msg.payload.Temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["4ca17a999c2ed85b"]]},{"id":"df9c6c6e451ddc41","type":"function","z":"ac8307c67cc0da21","name":" Humidity Node","func":"msg.payload=msg.payload.Humidity\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["9b019fec40a66996"]]},{"id":"9b019fec40a66996","type":"ui_gauge","z":"ac8307c67cc0da21","name":"","group":"2489c5c07a3082e7","order":2,"width":6,"height":5,"gtype":"donut","title":"Humidity","label":"g.m-3","format":"{{value}}","min":0,"max":"100","colors":["#5bc8c6","#f5dc3d","#ec4b7b"],"seg1":"","seg2":"","className":"","x":680,"y":320,"wires":[]},{"id":"e6de05294158a224","type":"ui_button","z":"ac8307c67cc0da21","name":"","group":"2489c5c07a3082e7","order":16,"width":4,"height":1,"passthru":false,"label":"Light on","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"lighton","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":560,"wires":[["a8eac27e2ace2168","509a93c80f20e9f9"]]},{"id":"a8eac27e2ace2168","type":"debug","z":"ac8307c67cc0da21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":560,"wires":[]},{"id":"6881bba2b85dc368","type":"ui_button","z":"ac8307c67cc0da21","name":"","group":"2489c5c07a3082e7","order":21,"width":4,"height":1,"passthru":false,"label":"Light Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"lightoff","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":640,"wires":[["a8eac27e2ace2168","509a93c80f20e9f9"]]},{"id":"509a93c80f20e9f9","type":"ibmiot out","z":"ac8307c67cc0da21","authentication":"apiKey","apiKey":"0b8ab188f96f1364","outputType":"cmd","deviceId":"MSVS-SMART-IOT","deviceType":"SMART-IOT","eventCommandType":"command","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":640,"wires":[]},{"id":"5daefe7a540e9819","type":"http in","z":"ac8307c67cc0da21","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":210,"y":440,"wires":[["80ec30fa0b23d7c3"]]},{"id":"c0ceb44fbafcfb51","type":"http response","z":"ac8307c67cc0da21","name":"","statusCode":"","headers":{},"x":690,"y":440,"wires":[]},{"id":"80ec30fa0b23d7c3","type":"function","z":"ac8307c67cc0da21","name":"httpfunctionnode","func":"msg.payload={\"Temperature\":global.get(\"t\"),\"Humidity\":global.get(\"h\"),\"Windspeed\":global.get(\"w\")}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["c0ceb44fbafcfb51"]]},{"id":"f6658b110c217d16","type":"http in","z":"ac8307c67cc0da21","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":230,"y":860,"wires":[["e2224e56768a6585"]]},{"id":"063fedc8e2daec86","type":"http response","z":"ac8307c67cc0da21","name":"","statusCode":"","headers":{},"x":590,"y":700,"wires":[]},{"id":"e2224e56768a6585","type":"function","z":"ac8307c67cc0da21","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":800,"wires":[["063fedc8e2daec86","509a93c80f20e9f9","a8eac27e2ace2168"]]},{"id":"4ca17a999c2ed85b","type":"ui_gauge","z":"ac8307c67cc0da21","name":"","group":"2489c5c07a3082e7","order":4,"width":6,"height":5,"gtype":"gage","title":"Temperature","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#b21515"],"seg1":"","seg2":"","className":"","x":670,"y":240,"wires":[]},{"id":"22156a8f3d96e156","type":"function","z":"ac8307c67cc0da21","name":"Windspeed Node","func":"msg.payload=msg.payload.Windspeed\nglobal.set('w',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["893b6315c569355e"]]},{"id":"893b6315c569355e","type":"ui_gauge","z":"ac8307c67cc0da21","name":"","group":"2489c5c07a3082e7","order":6,"width":6,"height":5,"gtype":"donut","title":"Windspeed","label":"km","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":380,"wires":[]},{"id":"1c2e672fa0190560","type":"ui_button","z":"ac8307c67cc0da21","name":"","group":"2489c5c07a3082e7","order":18,"width":4,"height":1,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"motoron","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":720,"wires":[["a8eac27e2ace2168"]]},{"id":"4b8da33029d22250","type":"ui_button","z":"ac8307c67cc0da21","name":"","group":"2489c5c07a3082e7","order":23,"width":4,"height":1,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"motoroff","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":780,"wires":[["a8eac27e2ace2168","509a93c80f20e9f9"]]}]