FINAL DELIVERABLES/NODE RED.json
[{"id":"96226ad180fdd895","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"0fca00d645ca9b62","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f58b99744b1b759b","type":"ui_group","name":"Temperature","tab":"49865690c4d3cf71","order":1,"disp":false,"width":"10","collapse":false,"className":""},{"id":"49865690c4d3cf71","type":"ui_tab","name":"HOMEPAGE","icon":"fa-home","disabled":false,"hidden":false},{"id":"ed6e16e838eff78f","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#11221a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#192711","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#192711","edited":true},"page-titlebar-backgroundColor":{"value":"#192711","edited":false},"page-backgroundColor":{"value":"#f4f1f1","edited":true},"page-sidebar-backgroundColor":{"value":"#f0f4f1","edited":true},"group-textColor":{"value":"#146123","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#192711","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"0b8ab188f96f1364","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2489c5c07a3082e7","type":"ui_group","name":"Weather monitoring","tab":"b036744d3531f665","order":1,"disp":false,"width":"20","collapse":false,"className":""},{"id":"b036744d3531f665","type":"ui_tab","name":"MONITOR","icon":"dashboard","disabled":false,"hidden":false},{"id":"4b266ccdeb8bfeac","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":3,"width":1,"height":1},{"id":"2e5e130c9bf54178","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":5,"width":1,"height":1},{"id":"3f18b30fe15fab43","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":7,"width":1,"height":1},{"id":"755bdf7c9182e6ac","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":8,"width":1,"height":1},{"id":"d5debb6154ead2b7","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":9,"width":1,"height":1},{"id":"14e9056a5d68e0c7","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":10,"width":1,"height":1},{"id":"e334dd32d4d6d9a9","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":11,"width":1,"height":1},{"id":"f59beb64c2d5c6d0","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":12,"width":1,"height":1},{"id":"9cfb613a7c57a093","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":13,"width":1,"height":1},{"id":"7ac7716f1c69450a","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":14,"width":1,"height":1},{"id":"d2a791ddad72db1e","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":15,"width":5,"height":1},{"id":"e9588ccf5cb1e18a","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":17,"width":3,"height":1},{"id":"820eef127ad994de","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":19,"width":4,"height":1},{"id":"b871dc150ae5b32a","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":20,"width":5,"height":1},{"id":"674e3cb8ed175476","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":22,"width":3,"height":1},{"id":"4ce9c0636df40f36","type":"ui_spacer","z":"0fca00d645ca9b62","name":"spacer","group":"2489c5c07a3082e7","order":24,"width":4,"height":1},{"id":"15c752f107c41547","type":"ui_group","name":"Default","tab":"e10031d50bd5ca86","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"75956d064cf37e94","type":"ui_group","name":"","tab":"2a45e520b76dbbd1","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9332136d287156c4","type":"ui_template","z":"96226ad180fdd895","group":"f58b99744b1b759b","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137521.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\nh2 {text-align: left;}\n</style>\n\n</head>\n<body >\n<h1>SMARTFARMER - IOT ENABLED SMART FARMING APPLICATION </h1><br>\n<h2>\nTeam ID : PNT2022TMID38131<br>\nTeam Size     : 4<br>\nTeam leader   : MANOJKUMAR S<br>\nTeam member   : SURYA G<br>\nTeam member   : VIGNESH E<br>\nTeam member   : SURENDAR K<br>\n\n</h2>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":320,"y":120,"wires":[[]]},{"id":"28dfc6bed5d833a2","type":"ui_template","z":"0fca00d645ca9b62","group":"2489c5c07a3082e7","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperaccess.com/full/137490.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\n\n</style>\n\n</head>\n<body >\n\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":360,"y":80,"wires":[[]]},{"id":"ebb808e582a6cc1a","type":"ibmiot in","z":"0fca00d645ca9b62","authentication":"apiKey","apiKey":"0b8ab188f96f1364","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"MSVS-SMART-IOT","applicationId":"","deviceType":"SMART-IOT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":140,"wires":[["1e7891b994b5f264","f683d5adacb055ad","23d8995e4f45f5dd","f7b4022718def37f"]]},{"id":"1e7891b994b5f264","type":"debug","z":"0fca00d645ca9b62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"f683d5adacb055ad","type":"function","z":"0fca00d645ca9b62","name":"Temperature Node","func":"msg.payload=msg.payload.Temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["94017b738b522449"]]},{"id":"23d8995e4f45f5dd","type":"function","z":"0fca00d645ca9b62","name":" Humidity Node","func":"msg.payload=msg.payload.Humidity\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["702ad186eb72d053"]]},{"id":"702ad186eb72d053","type":"ui_gauge","z":"0fca00d645ca9b62","name":"","group":"2489c5c07a3082e7","order":2,"width":6,"height":5,"gtype":"donut","title":"Humidity","label":"g.m-3","format":"{{value}}","min":0,"max":"100","colors":["#0be5da","#cfdd08","#b80a0a"],"seg1":"","seg2":"","className":"","x":680,"y":320,"wires":[]},{"id":"2ed0587bad810438","type":"ui_button","z":"0fca00d645ca9b62","name":"","group":"2489c5c07a3082e7","order":16,"width":4,"height":1,"passthru":false,"label":"Light on","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"lighton","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":560,"wires":[["5d3bf4f697d5adc2","3b757a2cad267364"]]},{"id":"5d3bf4f697d5adc2","type":"debug","z":"0fca00d645ca9b62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":560,"wires":[]},{"id":"7e3bcc013c52f1f0","type":"ui_button","z":"0fca00d645ca9b62","name":"","group":"2489c5c07a3082e7","order":21,"width":4,"height":1,"passthru":false,"label":"Light Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"lightoff","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":640,"wires":[["5d3bf4f697d5adc2","3b757a2cad267364"]]},{"id":"3b757a2cad267364","type":"ibmiot out","z":"0fca00d645ca9b62","authentication":"apiKey","apiKey":"0b8ab188f96f1364","outputType":"cmd","deviceId":"MSVS-SMART-IOT","deviceType":"SMART-IOT","eventCommandType":"command","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":640,"wires":[]},{"id":"4c9c0e51d129c886","type":"http in","z":"0fca00d645ca9b62","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":210,"y":440,"wires":[["37cdb996252cedbb"]]},{"id":"dd029865c3adc07c","type":"http response","z":"0fca00d645ca9b62","name":"","statusCode":"","headers":{},"x":690,"y":440,"wires":[]},{"id":"37cdb996252cedbb","type":"function","z":"0fca00d645ca9b62","name":"httpfunctionnode","func":"msg.payload={\"Temperature\":global.get(\"t\"),\"Humidity\":global.get(\"h\"),\"Windspeed\":global.get(\"w\")}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["dd029865c3adc07c"]]},{"id":"0126a2e9ef027dd8","type":"http in","z":"0fca00d645ca9b62","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":230,"y":860,"wires":[["c34b4906c42ef3e2"]]},{"id":"7dd13f18a4d3fd1f","type":"http response","z":"0fca00d645ca9b62","name":"","statusCode":"","headers":{},"x":590,"y":700,"wires":[]},{"id":"c34b4906c42ef3e2","type":"function","z":"0fca00d645ca9b62","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":800,"wires":[["7dd13f18a4d3fd1f","3b757a2cad267364","5d3bf4f697d5adc2"]]},{"id":"94017b738b522449","type":"ui_gauge","z":"0fca00d645ca9b62","name":"","group":"2489c5c07a3082e7","order":4,"width":6,"height":5,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#b21515"],"seg1":"","seg2":"","className":"","x":670,"y":240,"wires":[]},{"id":"f7b4022718def37f","type":"function","z":"0fca00d645ca9b62","name":"Windspeed Node","func":"msg.payload=msg.payload.Windspeed\nglobal.set('w',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["2c09c7287235d699"]]},{"id":"2c09c7287235d699","type":"ui_gauge","z":"0fca00d645ca9b62","name":"","group":"2489c5c07a3082e7","order":6,"width":6,"height":5,"gtype":"donut","title":"Windspeed","label":"km","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":380,"wires":[]},{"id":"82ba362a87085ec7","type":"ui_button","z":"0fca00d645ca9b62","name":"","group":"2489c5c07a3082e7","order":18,"width":4,"height":1,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"motoron","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":720,"wires":[["5d3bf4f697d5adc2"]]},{"id":"d0f4972866387b1b","type":"ui_button","z":"0fca00d645ca9b62","name":"","group":"2489c5c07a3082e7","order":23,"width":4,"height":1,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"motoroff","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":780,"wires":[["5d3bf4f697d5adc2","3b757a2cad267364"]]}]